@charset "utf-8";
/* CSS Document */

body{
	background-image: url("BG.png");
	font-family: Verdana, "sans-serif";
	text-align: center;
}
button{
	align-content: center;
	background-color: #FFFFFF;
	border: none;
	border-radius: 20px;
	padding: 20px 50px;
	text-align: center;
	font-size: 40px;
	transit: 0.4s;
}

button:hover{
	background-color: #27282E;
	color: #00FFEA;
}

h1{
	color: #00FFEA;
	text-align: center;
	font-size: 80px;
	}
